@model SkillMatrix.Model.vwSkillReport

<div id="filter">
    @{
        await Html.RenderPartialAsync("_Filter", Model);
    }
</div>
<hr />
<div id="reportTable">
    @{
        await Html.RenderPartialAsync("_Table", Model);
    }
</div>