@model SkillMatrix.Model.vwSkillReport
@{
    Layout = "_Layout";
    var skillMatrix = Model.SkillMatrix;
    var counter = 1;
    <style>
        th[colspan]:not([colspan="1"]) {
            text-align: center;
        }
    </style>
}
<form method="post" enctype="multipart/form-data" asp-controller="Report" asp-action="Index">
    <div class="card text-center">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="ml-3">Year: @Html.DropDownListFor(x => x.SkillMatrixFilter.Year, new SelectList(Model.lstYears, "Key", "Value"), new { @id = "Year", @class = "form-select" })</div>
                <div class="ml-3">Quarter: @Html.DropDownListFor(x => x.SkillMatrixFilter.Quarter, new SelectList(Model.lstQuarters, "Key", "Value"), new { @id = "Quarter", @class = "form-select" })</div>
                <div class="ml-5"><button id="btnShow" class="btn btn-primary btn-sm" type="button" onclick="Show()">Show</button></div>
            </div>
        </div>
    </div>
</form>
<div id="filterAndTable">
    @{
        await Html.RenderPartialAsync("_FilterAndTable", Model);
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        function Show() {
            var filter = {
                Year: $("#Year").val(),
                Quarter: $("#Quarter").val()
            }
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '/Report/Index',
                data: filter,
                success: function (response) {
                    $("#filterAndTable").html('');
                    $("#filterAndTable").html(response);
                },
                error: function (response) {
                    toastr.error("There is some problem to process your request");
                }
            });
        }

        function Filter() {
            var filter = {
                Year: $("#Year").val(),
                Quarter: $("#Quarter").val(),
                Team: $("#Team").val(),
                CompetencyLevel: $("#Competency").val(),
                TenureLevel: $("#Tenure").val(),
            }
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '/Report/Filter',
                data: filter,
                success: function (response) {
                    $("#reportTable").html('');
                    $("#reportTable").html(response);
                },
                error: function (response) {
                    toastr.error("There is some problem to process your request");
                }
            });
        }

        function ClearFilter() {
            Show();
        }

        function Excel() {
            var filter = {
                Year: $("#Year").val(),
                Quarter: $("#Quarter").val(),
                Team: $("#Team").val(),
                CompetencyLevel: $("#Competency").val(),
                TenureLevel: $("#Tenure").val(),
            }
            $.ajax({
                type: 'POST',
                /*dataType: 'JSON',*/
                url: '/Report/Excel',
                data: filter,
                success: function (response) {
                    if (response.success == true) {
                        toastr.success(response.message);
                    }
                    else {
                        toastr.warning(response.message);
                    }
                },
                error: function (response) {
                    toastr.error("There is some problem to process your request");
                }
            });
        }

        function toastrOption() {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        }

        $(document).ready(function () {
            toastrOption();
        });
    </script>
}
