<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SkillMatrix</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .dropdown:hover > .dropdown-menu {
            display: block;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Report" asp-action="Index">Skill Matrix</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown" style="cursor:pointer">
                            @*<a class="nav-link text-dark" asp-area="" asp-controller="Report" asp-action="Index">Report</a>*@
                            <NavLink class="nav-link text-dark"
                                     href="Report" id="navbarDropdown"
                                     role="button" data-toggle="dropdown" aria-haspopup="true"
                                     aria-expanded="false">
                                Report
                            </NavLink>
                            <div class="dropdown-menu dropright dropdown-menu-autoshow" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="Quality">Quality</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="Index">SkillMatrix</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown" style="cursor:pointer">
                            <NavLink class="nav-link text-dark"
                                     href="SkillMatrix" id="navbarDropdown"
                                     role="button" data-toggle="dropdown" aria-haspopup="true"
                                     aria-expanded="false">
                                Import
                            </NavLink>
                            <div class="dropdown-menu dropright dropdown-menu-autoshow" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Attribute" asp-action="Quality">Quality</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Employee" asp-action="Index">Employees</a>
                                <a class="dropdown-item" asp-area="" asp-controller="SkillMatrix" asp-action="Index">SkillMatrix</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Employees">Employees</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SkillMatrix - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/toastr.css" />
    <script src="~/js/toastr.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
